<!DOCTYPE html>
<html>
  <head>
    <title>Skello's blog</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="http://www.saranathan.ac.in/img/icon/pr2.png"/>
  </head>
  <body>
    <div class="navbar-wagon">
      <!-- Logo -->
      <h1>Discover the blog of
        <img src="https://www.skello.io/assets/home-logo-13a80da480301915ca5db0518529cbb72f035db03c15c1f3773c2ba5d4f9c25f.png"/></h1>

      <!-- Right Navigation -->
      <div class="navbar-wagon-right">
        <!-- Button (call-to-action) -->
        <a href="" class="navbar-wagon-item navbar-wagon-button btn">New article</a>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
